* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/*#hamburgerMenu {
	display: inline-block;
	position: fixed;
	top:1px;
	left:1px;
	height: 20px;
	width: 20px;
	border: 2px solid white;
}*/

/*.section {
	width: 100%;
	height:100vh;
	font-family: Futura;
	color:white;
	background-size: cover;
	background-position: center;
	background-image: url(../images/prison.jpg);
	position:relative;
}*/

body  {
   font-family: Futura;
   color:white;

}

.logo {
	
	padding: 0px 10px;
	font-size:70pt;
	border: 7px solid white;

}

.logo:hover {
	font-family: Futura;
	border: 1px solid black;
	color:black;
	cursor: crosshair;
}


#container {
	display: inline-block;

}


	/* Centered texts in each section
	* --------------------------------------- */

/*All backgrounds will cover viewport*/

.section{
	background-size: cover;
/*	width:100%;*/
	height:100vh;
	background-position:center;
}

.slide{
	background-size: cover;
/*	height:100vh;*/
	background-position:center;
}

/*------------------------*/

#cover{
	background-image: url(../images/prison.jpg);
	text-align: center;
}

#cover{
	height:100vh;
	display: -webkit-flex;
	display: flex;
	justify-content:center;
	align-items:center;
}

.slide h1 {
	font-size: 70px;
	line-height: 50px;
	position: absolute;
	bottom:100px;
	left:100px;
}

#slide1 {
	font-family: Baskerville;
}

#slide1{
	background-image: url(../images/5.jpg)
}
#slide2{
	background-image: url(../images/2.jpg)
}

div.fp-controlArrow { 
    display: none;
}