* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}



body  {
   font-family: Futura;
   color:white;

}

.logo {
	
	padding: 0px 10px;
	font-size:90px;
	border: 7px solid white;

}

/*.logo:hover {
	padding:30px 30px;
	font-family: Futura;
	border: 1px solid black;
	color:black;
	cursor: crosshair;
}
*/

#container {
	display: inline-block;

}


	/* Centered texts in each section
	* --------------------------------------- */

/*All backgrounds will cover viewport*/

.section{
	background-size: cover;
/*	width:100%;*/
	height:100vh;
	background-position:center;
}

.slide{
	background-size: cover;
/*	height:100vh;*/
	background-position:center;
	display: -webkit-flex;
	display: flex;

}

/*------------------------*/

#cover{
	background-image: url(../images/01/prison.jpg);
	text-align: center;
}

#nav {
	position:fixed;
	top:45%;
	left:2px;
	background-color: black;
	padding: 5px;
	opacity: 0.2;
	border-radius: 4px;
}

#nav:hover {
	opacity: 0.8;
}

#nav li {
	padding: 2px 0px;
	text-align: center;
	font-size: 14px;
}

#nav a {
	text-decoration: none;
	color: white;
}

#nav a:hover {
	text-decoration: none;
	color: grey;

}

#centerLogo{
	height:100%;
	display: -webkit-flex;
	display: flex;
	justify-content:center;
	align-items:center;
}

#slide1 {
	display: -webkit-flex;
	display: flex;
	justify-content:flex-start;
	align-items:flex-end;
}

/* CAPTIONS */

.captionLeft {
	font-family: Baskerville;
	font-size: 16px;
	width: 30%;
	margin: 0 0 6% 6%;
	padding-top: 5px;
	border-top:1px solid white;
}
.captionRight {
	font-family: Baskerville;
	font-size: 16px;
	width: 30%;
	margin-right: 6%;
	margin-bottom: 6%;
	text-align: right;
	padding-top: 5px;
	border-top:1px solid white;
}


.captionTopRight {
	font-family: Baskerville;
	font-size: 16px;
	width: 30%;
	margin-top: 6%;
	margin-right: 6%;
	text-align: right;
	padding-top: 5px;
	border-top:1px solid white;
}

.captionTopLeft {
	font-family: Baskerville;
	font-size: 16px;
	width: 30%;
	margin-top: 6%;
	margin-left: 6%;
	text-align: left;
	padding-top: 5px;
	border-top:1px solid white;
}

.captionBottomCenter {
	font-family: Baskerville;
	font-size: 16px;
	width: 30%;
	margin-bottom: 6%;
	text-align: center;
	padding-top: 5px;
	border-top:1px solid white;
}

/* END CAPTIONS */

/* STORY ONE TITLE SLIDE */
#storyOne .title  {
	width:30%;
	/*margin: 30% 0 0 10%;*/
	margin-left: 8%;
	margin-bottom:4%;
}

#storyOne .title h1 {
	font-size: 70px;
	line-height: 72px;
}

#storyOne .title p {
	margin-top: 10px;
	font-size: 17px;
	line-height: 18px;
}

/* END STORY ONE TITLE SLIDE */

/* STORY TWO TITLE SLIDE */
#slide1a .title {
	width: 30%;
	font-family: Baskerville;
	margin: 3% 0 0 4%;

}

#slide1a .title h1 {
	font-size: 90px;
	line-height: 110px;
}

#slide1a .title p {
	font-size: 18px;
}
/* END STORY TWO TITLE SLIDE */


/* BACKGROUND IMAGES */
#slide1 {
	font-family: Baskerville;
}
#slide1{
	background-image: url(../images/01/6.jpg)
}
#slide2{
	background-image: url(../images/01/cityhallatlarge2.jpg);
	justify-content:flex-end;
	align-items:flex-end;
}

#slide3 {
	background-image: url(../images/01/wburgcops2.jpg);
	justify-content:flex-end;
	align-items:flex-start;
}

#slide4{
	background-image: url(../images/01/7.jpg);
	justify-content:flex-start;
	align-items:flex-end;
}

#slide5{
	background-image: url(../images/01/3.jpg);
	justify-content:center;
	align-items:flex-end;

}

#slide6{
	background-image: url(../images/01/prison.jpg);
	justify-content:flex-start;
	align-items:flex-end;
}

#slide1a {
	background-image: url(../images/02/9.jpg);
	align-items:flex-start;
	justify-content:flex-start;
	
}

#slide2a {
	background-image: url(../images/02/6.jpg);
	align-items:flex-end;
	justify-content:flex-start;
}
#slide3a {
	background-image: url(../images/02/11.jpg);
	align-items:flex-end;
	justify-content:center;
}

#slide4a {
	background-image: url(../images/02/7.jpg);
	align-items:flex-end;
	justify-content:flex-end;

}

#slide5a {
	background-image: url(../images/02/10.jpg);
	align-items:flex-end;
	justify-content:flex-start;

}
#slide6a {
	background-image: url(../images/02/13.jpg);
	align-items:flex-start;
	justify-content:start;

}

#slide1c {
	font-family: Baskerville;
	font-size: 20px;
	color:#171717;
}

#slide1c {
	display:flex;
	align-items:center;
	justify-content:space-between;
	background-color: #fbf9f6;
}

#slide2c {
	background-image: url(../images/mimi2.jpg);
}

#slide3c {
	background-image: url(../images/mimi1.jpg)
}
/* END BACKGROUND IMAGES */

/* STORY TWO TITLE SLIDE */
#slide1c .title {
	width: 40%;
	margin-left: 15%
}

#slide1c h1 {
	font-size: 50px;
	margin-bottom: 4%;
}

#slide1c h2 {
	font-size: 18px;
	margin-bottom: 4%;
}

#slide1c img {
	height:60%;
	margin-right:15%;
}

/* END STORY TWO TITLE SLIDE */



/* HIDE SLIDE ARROWS */
div.fp-controlArrow { 
    display: none;
}
/* END HIDE SLIDE ARROWS */



